# Ignore doc directory
doc

# Ignore emacs files
*#
*~
.#*

# OS X files
.DS_Store

# C compilation files
*.o
*.bundle
*.so
*.dll
pkg
doc
Makefile

# ragel and lemon files
ext/LemonSQLParser/parser.c
ext/LemonSQLParser/parser.h
ext/LemonSQLParser/parser.out
ext/LemonSQLParser/tokenizer.c


# c-tags / emacs tags file:
TAGS

spec/guillotine/integration/database.yml